<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/public.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Yogesh. It uses data from mapbox.com and weatherstack API</p>
        <h1>Created by {{ name }}</h1>
        <img class="portrait" src="img/kakashi.jpg">
    </div>
    {{>footer}}
</body>
</html>