<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/public.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>Helped by {{ name }}</h1>
    </div>
    {{>footer}}
</body>
</html>